<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white border-bottom">
      <div class="container">
        <div class="d-flex justify-content-between">
          <!-- Left elements -->
          <div class="">
            <a href="https://mdbootstrap.com/" target="_blank" class="">
              <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="35" />
            </a>
          </div>
          <!-- Left elements -->

          <!-- Right elements -->
          <div class="">
            <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="me-1 border rounded py-1 px-3 nav-link" target="_blank">
              <i class="fas fa-user-alt me-2"></i>Sign in 
            </a>
          </div>
          <!-- Right elements -->
        </div>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Heading -->
    <div class="bg-primary">
      <div class="container py-4">
        <!-- Breadcrumb -->
        <nav class="d-flex">
          <h6 class="mb-0">
            <a href="./home" class="text-white-50">Home</a>
            <span class="text-white-50 mx-2"> > </span>
            <a href="./cart" class="text-white-50">2. Shopping cart</a>
            <span class="text-white-50 mx-2"> > </span>
            <a href="" class="text-white"><u>3. Order info</u></a>
            <span class="text-white-50 mx-2"> > </span>
            <a href="payment.html" class="text-white">4. Payment</a>
          </h6>
        </nav>
        <!-- Breadcrumb -->
      </div>
    </div>
    <!-- Heading -->
  </header>

  <section class="bg-light py-5">
    <div class="container">
      <div class="card shadow-0 border">
        <div class="p-4">
          <h5 class="card-title mb-3">Payment Page</h5>
          <p>Thank you for your purchase! Your payment is being processed.</p>
          <div class="d-flex justify-content-end">
            <a href="home.html" class="btn btn-primary w-100 shadow-0">Return to Home</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
