<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <!-- <li class="nav-item nav-category">Management</li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/items">
          <i class="menu-icon mdi mdi-table"></i>
          <span class="menu-title">Manage Items</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/customers">
          <i class="menu-icon mdi mdi-account-group"></i>
          <span class="menu-title">Manage Customers</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orders">
          <i class="menu-icon mdi mdi-cart"></i>
          <span class="menu-title">Manage Orders</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/new-admin">
          <i class="menu-icon mdi mdi-account-plus"></i>
          <span class="menu-title">Add New Admin</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/signout">
          <i class="menu-icon mdi mdi-logout"></i>
          <span class="menu-title">Sign Out</span>
        </a>
      </li>
    </ul>
  </nav>
  